#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

# ignore partials
compile '/**/_*.scss' do
  nil
end

# compile scss to css
# get file path -> remove extension -> route to /css -> write .css
compile '/scss/*.scss' do
  filter :sass, syntax: :scss
  write item.identifier.without_ext.to_s.gsub('scss/', 'css/') + '.css'
end

# passthrough js
passthrough '/js/**/*.js'

# all posts written as .md files
compile '/posts/**/*.md' do
  filter :kramdown
  layout '/default.*'
end

# route/posts/title-slug to /bloggery
route '/posts/**/*.md' do
  item.identifier.without_ext.to_s.gsub('posts/', 'bloggery/') + '.html'
end

# write post assets to the right directory
compile '/posts/**/*' do
  write item.identifier.to_s.gsub('posts/', 'bloggery/')
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
