.sticker {
  text-align: center;
  letter-spacing: 6px;
  width: 25rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  border-radius: 50%;
  border: 0.5rem solid $white;

  .sticker-content {
    margin: 0;
    color: $white;
  }

  .upper, .middle, .lower {
    display: block;
    font-family: $branding;
    letter-spacing: 0;
  }
}